#section_fifth{
    margin-top: 75px;

    .three_wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    
        .crimson {
          width: 20px;
          height: 40px;
          background-color: #db4444;
          border-radius: 5px;
        }
    
        & h1 {
          color: var(--Secondary-2, #db4444);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
        }
      }
    
      .texticon{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        & h1{
            color: var(--Text2, #000);
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: 1.44px;
        }
    
    
        .sec3rili{
            display: flex;
            gap: 10px;
        
        }
      }
}