#page2sec1 {
  margin-top: 205px;

  .pag3wrap{
    margin-top: 180px;
  }


  .content2wrap{
    margin-top: 100px;
  }

  .btnpg3 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 90px;
    
    & a{
      text-decoration: none;
    }


    
    & button {
      display: flex;
      padding: 16px 48px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: var(--Button2, #DB4444);
      border: 2px solid transparent;
      color: var(--Text, #FAFAFA);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;


      &:hover{

        background-color: transparent;
        border:  2px solid  rgba(0, 0, 0, 0.50);
        color: #000;
      }
    }

    .logins{
        color: var(--Secondary-2, #DB4444);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
  }
}
