#page6sec1{
    margin-top: 225px;

    .homecart{
        display: flex;
        gap: 8px;
        cursor: pointer;
        

        & a{
        color: var(--Text2, #000);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        opacity: 0.5; 
        list-style-type: none;
        text-decoration: none;
    }

    & p{
        color: var(--Text2, #000);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }
    }

    .page6sec1wrap{
    

        .sec1wrap_text{
            display: flex;
            gap: 270px;
            display: flex;
            width: 1200px;
            height: 72px;
            padding: 24px 39px 24px 40px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Primary, #FFF);
            box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
            margin-top: 80px;

            p:nth-child(2){
                margin-left: 110px;
            }
        }


        .sec1wrap_text1{
                margin-top: 40px;
                gap: 245px;
                width: 1200px;
                height: 72px;
                padding: 24px 39px 24px 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 4px;
                background: var(--Primary, #FFF);
                box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
                margin-bottom: 40px;
    
               & p{
                    color: var(--Text2, #000);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    position: relative;
    
                    & svg{
                        position: absolute;
                        top: -10px;
                        left: -10px;
    
                    }
    
                    input{
                        display: flex;
                        width: 72px;
                        height: 44px;
                        padding: 6px 12px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 4px;
                        border: 1.5px solid rgba(0, 0, 0, 0.40);
                    }
                }
            }

            .pag6btnwrap{
                display: flex;
                justify-content: space-between;

                & button{
                    display: flex;
                    padding: 16px 48px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.50);
                    color: var(--Text2, #000);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; 
                }

                .bt2{
                    margin-right: 20px;
                }
            }
        }
    }